<div class="card py-2 flex justify-content-center">
  <p-card header="Video title" [style]="{ minWidth: '50dvh' }">
    <div class="card">
      <div class="card flex align-items-center gap-2 flex-wrap">
        <p-chip label="Education"></p-chip>
        <p-chip label="Travel"></p-chip>
      </div>
      <p class="m-0 py-4">
        Don't miss out on this fantastic opportunity to rent a lovely family
        home in a sought-after neighborhood. Schedule a viewing today to make
        this house your new home!
        <!-- https://drive.google.com/file/d/1EvPwkz7iNumT2W2UZAvHlTtkr7rc3Xme/view?usp=sharing -->
      </p>
      <div class="video-player card py-2">
        <iframe
          src="https://drive.google.com/file/d/1EvPwkz7iNumT2W2UZAvHlTtkr7rc3Xme/preview"
          allow="autoplay"
          allowfullscreen
          webkitallowfullscreen
        ></iframe>
      </div>
      <div class="card py-2 flex justify-content-end">
        <button
          pButton
          pRipple
          label="Read More"
          severity="success"
          class="p-button-text"
        ></button>
      </div>
    </div>
  </p-card>
</div>
<div class="card py-2 flex justify-content-center">
  <p-card header="Search Front-end Library" [style]="{ minWidth: '50dvh' }">
    <div class="card">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="card py-6">
          <span class="flex p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              class="w-full"
              id="postId"
              formControlName="myInput"
            />
            <label htmlFor="postId">Enter post id</label>
          </span>

          <div class="card py-4 flex gap-4 align-items-center justify-content-center">
            <p-knob formControlName="avilableCount"></p-knob>
            <i class="pi pi-bell text-3xl" pBadge [value]="resultCount.toString()"></i>
          </div>
        </div>
      </form>
      <div class="card py-2 flex justify-content-end">
        <button
          pButton
          pRipple
          label="Read More"
          severity="success"
          class="p-button-text"
        ></button>
      </div>
    </div>
  </p-card>
</div>

<div
  class="card py-2 flex align-items-center  gap-2 flex-wrap"
  *ngFor="let item of libraryItems"
  >
  <p-chip [label]="item.name"></p-chip>
  <!-- <p>{{item.latest}}</p> -->
  <p-button [label]="item.latest" [link]="true"></p-button>
</div>
