<div class="card py-2 flex justify-content-center" *ngFor="let post of posts">
  <p-card [header]="post.title" [style]="{ maxWidth: '30rem' }">
    <div class="card">
      <p class="m-0">
        {{ post.body }}
      </p>

      <div class="card py-2 flex justify-content-end">
        <button pButton (click)="singlePost(post.id)" pRipple label="Read More" severity="success" class="p-button-text"></button>
      </div>
    </div>
  </p-card>
</div>

<div *ngIf="(selectedPost$ | async) as selectedPost" class="card flex justify-content-center">
  <p-dialog [header]="selectedPost.title" [(visible)]="showDialog" [style]="{width: '50vw'}">
      <p class="m-0">
        {{selectedPost.body}}
      </p>
  </p-dialog>
</div>
<div class="card progress-spinner" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
